<div class="white-background">
  <h4>Études</h4>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div *ngFor="let e of this.etudes; let even = even; let odd = odd" class="col-sm-6 col-lg-5 box-outer animated" animateOnScroll animationName="animated {{slideLeftOrRight(odd)}}" offset="120">
        <div class="box-presentation">
          <p><i class="fa fa-clock-o"></i>{{e.periode}}</p>
          <p><i class="fa fa-graduation-cap fa-3x"></i></p>
          <p style="color:darkred;font-size: 30px">{{e.lieu}}</p>
          <p style="font-size: 26px;border-bottom: #3c3f41;border-bottom-style: solid">{{e.diplome}}</p>

          <div><table style="width:100%;border-collapse: separate;border-spacing: 5px">
            <tr *ngFor="let t of e.themes"><td class="li-box">{{t}}</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
