<div class="white-background contact">
  <div class="container">
    <div class="row justify-content-center">
      <a class="text-center text-decoration-none text-white" href="#intro"><i class="fa fa-chevron-up"></i></a>
    </div>
  </div>
    <br>
  <h4>Contact</h4>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div>
        <div class="row">
          <div class="col-12">Vous pouvez me contacter ici:</div>
        </div>
        <div class="row">
          <table  style="border-spacing: 10px;border-collapse: separate">
            <tr>
              <td align="center"><i class="fa fa-envelope fa-2x"></i></td>
              <td><a href="mailto:contact@lucaslopez.be">contact@lucaslopez.be</a></td>
            </tr>
            <tr ngbTooltip="(Peu conseillé actuellement étant victime de spam)">
              <td align="center"><i class="fa fa-mobile-phone fa-2x"></i></td>
              <td><a href="tel:+32498851241">+32 498 85 12 41</a></td>
            </tr>
            <tr>
              <td align="center"><i class="fa fa-skype fa-2x"></i></td>
              <td><a href="callto:luuch3">luuch3</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
