<div class="white-background">
  <h4>Mes expériences</h4>
  <div class="container">
    <ul class="timeline">
      <li *ngFor="let exp of experiences; let even = even; let odd = odd" [ngClass]="{'timeline-inverted':odd}">
        <div class="timeline-badge success"><i class="fa fa-check-square-o"></i></div>
        <div class="timeline-panel" [attr.data-aos]="odd ? 'fade-left' : 'fade-right'">
          <div class="timeline-heading">
            <h5 class="timeline-title">{{exp.titre}}</h5>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{exp.date}}</small></p>
          </div>
          <div class="timeline-body">
            <p>{{exp.description}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

