<h1>Concepts de base:</h1><a href="exercices#ex7">Scroll jusqu'à l'exercice 7</a>
<ol>
  <li>
    <hr>
    <app-cdb-exercice1></app-cdb-exercice1>
  </li>
  <li><hr>
    <app-cdb-exercice2></app-cdb-exercice2>
  </li>
  <li><hr>
    <app-cdb-exercice3></app-cdb-exercice3>
  </li>
  <li><hr>
    <app-cdb-exercice4></app-cdb-exercice4>
  </li>
  <li><hr>
    <app-cdb-exercice5></app-cdb-exercice5>
  </li>
  <li><hr>
    <app-cdb-exercice6></app-cdb-exercice6>
  </li>
  <li><hr>
    <section id="ex7">
      <app-cdb-exercice7></app-cdb-exercice7>
    </section>
  </li>
</ol>
