<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true">
    <ul class="navbar-nav w-100 mr-auto nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="#presentation">Présentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#etudes">Études</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#competences">Compétences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experiences">Expériences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#realisations">Réalisations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
