<div class="bot-background">
  <div>
  <h4>Qui suis-je ?</h4>
  </div>
  <div class="container-fluid" data-aos="fade-up" data-aos-offset="250">
    <div class="row justify-content-center" >
      <div class="col-lg-3 col-sm-9">
        <img src="../../../assets/roundpic.jpg" class="rounded-circle" style="border: 2px solid;max-width: 102%;height: auto;border-radius: 50%">
      </div>
      <div class="col-lg-6 col-sm-9 align-self-center text-center">
        <p>Bonjour, je m'appelle Lucas Lopez, j'ai 23 ans, je suis de la région de Saint-Ghislain et je suis étudiant en informatique de gestion à la HELHa de Mons.</p>
        <p>J'ai toujours été passionné par tout ce qui touche à l'informatique, aussi bien software que hardware.</p>
      </div>
      <div class="col-lg-3 col-sm-9 align-self-center">
        <div class="row justify-content-center">
          <table>
            <th colspan="2" class="text-center"><h5 style="text-decoration: underline;color: lightseagreen">Atouts</h5></th>
            <tr *ngFor="let a of listeStr"><td><i class="fa fa-check text-success"></i></td><td>{{a}}</td></tr>
          </table>
        </div>
        <div class="row justify-content-center">
          <div (click)="goToLink('https://github.com/luch3')"><i class="fa fa-github-square fa-3x"></i></div>
          <div (click)="goToLink('https://www.linkedin.com/in/lucas-lopez-9691111a2/')"><i class="fa fa-linkedin-square fa-3x"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

