<div class="bot-background">
  <div>
  <h4>Qui suis-je ?</h4></div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-9">
        <img src="../../../assets/roundpic.jpg" style="max-width: 100%;height: auto;border-radius: 50%">
      </div>
      <div class="col-lg-6 col-sm-9 align-self-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto deleniti error esse et eveniet fugiat hic in molestiae molestias nam nemo nesciunt non perferendis quaerat recusandae rem suscipit, voluptatem?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur autem debitis facere harum, hic iure, labore laboriosam minima, molestiae natus nostrum officiis omnis quibusdam tempore ullam vel. Necessitatibus, voluptas.</p>
      </div>
      <div class="col-lg-3 col-sm-9 align-self-center">
        <ul>
          <h5 style="text-decoration: underline">Pq je suis bg ?</h5>
          <li>Pcq</li>
          <li>C'est</li>
          <li>Comme ça</li>
        </ul>
      </div>
    </div>
  </div>
</div>
